name: Embed code in README

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  embed-code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: tokusumi/markdown-embed-code@main
        with:
          markdown: "README.md"
      - name: Check modified
        id: modified
        run: if [[ $(git status --porcelain | wc -l) -eq "0" ]]; then exit 1; fi
        continue-on-error: true
      - name: comment no changes
        if: steps.modified.outcome == 'failure' && github.event.pull_request.merged == false
        run: |
          curl \
            -X POST \
            ${{ github.event.pull_request.comments_url }} \
            -H 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            -H 'content-type: application/json' \
            -d "{ \"body\": \"No changes on README!\" }"
      - name: Commit files
        id: commit
        if: steps.modified.outcome == 'success'
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m "Embedding code into Markdown" -a
      - name: Push changes
        if: steps.modified.outcome == 'success'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
     
